version: '3.8'

services:
  icecast:
    image: infiniteproject/icecast:latest
    container_name: cantaguarico-server
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./config/icecast.xml:/etc/icecast.xml:ro
      - ./logs:/var/log/icecast2
    user: "1000:1000"

  monitor:
    build: ./monitor
    container_name: cantaguarico-monitor
    restart: always
    environment:
      - ICECAST_URL=http://icecast:8000/status-json.xsl
      - TELEGRAM_BOT_TOKEN=8442260188:AAGSt3aSvEj-rzaMOcENu2Zal226IrDNK9Q
      - TELEGRAM_CHAT_ID=4906781120
      - CHECK_INTERVAL=5
      - MOUNT_POINT=/cantaguarico
    depends_on:
      - icecast
